.container{
	border-radius: 6px;
	.lastest-post{
		margin:0;
		border-radius: 6px 0 0 0;
		padding:5px;
	}
	div.jumbotron{
		h1{	
			color:#FFF;
			@include stroke(2 , #000);
			font-weight: 600;
		}
		margin:0px;
		border-radius: 0;
		height:310px;
	}
	.post-info{
		margin-top:1.333em;
		h1.btn-success{
			margin:0;
			border-radius: 6px 0 0 0;
			background-color: #777;
			padding: 6px;

		}
		.picture-container{
			background-color:#428bca;
			span.username{
				color:#FFF;
				font-size:35px;
				vertical-align: bottom;
				padding:15px;
			}

		}
		.text-container{
			background-color:#E0E0E0;
			display:flex;
			img{
				border-radius: 0 0 0 6px;
			}
			.post-message{
				width:82.5%;
				//float:left;
				font-size:18px;
				padding:10px;
			}
			
			.post-message.central{
				padding:25px;
			}
			
			.btn-success{
				border-radius: 0 0 6px 0;
			}
			textarea{
				width:78%;
			}
			
		}	
	}

	.main-post-info.post-info{
		margin-top:0px;
	}
	
}

